<div class="widget-areas-footer widget-areas" role="complementary">

  <div class="widget-area widget-area-footer-one" role="complementary">
    {{> ruffie/widgets/about}}
  </div>
  
  <div class="widget-area widget-area-footer-two" role="complementary">
    {{> ruffie/widgets/styles}}
  </div>
    
  <div class="widget-area widget-area-footer-three" role="complementary">
    {{> ruffie/widgets/recent-entries}}
  </div>

  <div class="widget-area widget-area-footer-four" role="complementary">
    {{> ruffie/widgets/themes}}
  </div>
</div>