<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name='robots' content='noindex, nofollow' />

    <title>{{themename}} &#8211; Demo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" type="text/css" media="all" />    
    <link rel="stylesheet" href="/{{themeslug}}/style.css" type="text/css" media="all" />

    <style>
      .wp-block-cover {
        background-color: #b89e2a;
        position: relative;
        background-size: cover;
        background-position: 50%;
        min-height: 430px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        box-sizing: border-box;
      }

      .wp-block-cover::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: .7;
        content: "";
        background-color: inherit;
      }

      .wp-block-cover-text {
        font-size: 2em;
        line-height: 1.25;
        z-index: 1;
        margin-bottom: 0;
        max-width: 840px;
        padding: .44em;
        text-align: center;
      }
    </style>
  </head>
<body class="{{bodyClasses}}"></body>
  
  <div class="site-container">