<div class="hero">
  <img src="/{{themeslug}}/assets/images/header.jpg" class="hero__image" width="1920" height="960" alt="Header Image">
  
  <div class="hero__content">
    <h1 class="hero__text">Your business, Your rules</h1>
    <a class="hero__cta" href="https://wordpress.org/themes/{{themeslug}}">Download</a>
  </div><!-- .hero__content -->
</div><!-- .hero -->