<div class="widget-area widget-area-above-content" role="complementary">

  <div class="widget_text widget widget_custom_html">
    <div class="textwidget custom-html-widget">
      <center>
        <i class="far fa-address-card" style="font-size:60pt"></i>
        <h3 style="margin: 1rem 0 0.5rem">Professional</h3>
        <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </center>
    </div>
  </div>
  
  <div class="widget_text widget widget_custom_html">
    <div class="textwidget custom-html-widget">
      <center>
        <i class="fa fa-tablet-alt" style="font-size:60pt"></i>
        <h3 style="margin: 1rem 0 0.5rem;">Responsive</h3>
        <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </center>
    </div>
  </div>
  
  <div class="widget_text widget widget_custom_html">
    <div class="textwidget custom-html-widget">
      <center>
        <i class="far fa-edit" style="font-size:60pt"></i>
        <h3 style="margin: 1rem 0 0.5rem;">Customizable</h3>
        <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </center>
    </div>
  </div>

</div>