<div class="widget-areas widget-areas-footer" role="complementary">
  <div class="widget-area widget-area-footer widget-area-footer-one" role="complementary">
    {{> bidnis/widgets/about}}
  </div>

  <div class="widget-area widget-area-footer widget-area-footer-two" role="complementary">
    {{> bidnis/widgets/styles}}
  </div>

  <div class="widget-area widget-area-footer widget-area-footer-three" role="complementary">
    {{> bidnis/widgets/recent-entries}}
  </div>

  <div class="widget-area widget-area-footer widget-area-footer-four" role="complementary">
    {{> bidnis/widgets/themes}}
  </div>

</div>