<footer class="site-footer">
 
  <div class="site-footer-info">
    <span>{{themename}} © 2021</span>
    <span>Theme: <a href="https://gratisthemes.kniffen.dev/themes/{{themeslug}}">{{themename}}</a></span>
  </div><!-- .site-footer-info -->

  <a href="#" id="scroll-to-top">
    <span class="screen-reader-text">Scroll to the top</span>
  </a>
</footer>