<header class="site-header">
  <div class="site-branding">
    <h1 class="site-branding__title">
      <a href="/{{themeslug}}/">{{themename}}</a>
    </h1>

    <p class="site-branding__tagline">Boost your business</p>
  </div>

  <div class="bidnis-phone">
    <i class="fa fa-phone"></i>
    <a href="tel:(212) 664-7665" aria-label="tel (212) 664-7665 ?>">(212) 664-7665</a>
  </div>

  <div class="bidnis-email">
    <i class="fa fa-envelope"></i>
    <a href="mailto:contact@example.com" aria-label="e-mail contact@example.com" target="_top">contact@example.com</a>
  </div>

  <div class="social-links">
    <a class="social-links__twitter" title="twitter" aria-label="twitter" href="#"><i class="fab fa-twitter"></i></a>
    <a class="social-links__linkedin" title="linkedin" aria-label="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
    <a class="social-links__github" title="github" aria-label="github" href="#"><i class="fab fa-github"></i></a>
  </div>
</header>