<div class="widget-areas-footer" role="complementary">
  
  <div class="widget-area widget-area-footer-one" role="complementary">
    {{> reginald/widgets/about}}
  </div>
  
  <div class="widget-area widget-area-footer-two" role="complementary">
    {{> reginald/widgets/styles}}
  </div>
    
  <div class="widget-area widget-area-footer-three" role="complementary">
    {{> reginald/widgets/recent-entries}}
  </div>

  <div class="widget-area widget-area-footer-four" role="complementary">
    {{> reginald/widgets/themes}}
  </div>
</div>