<div class="widget widget_text">
  <h3 class="widget-title">Bidnis</h3>
  <div class="textwidget">
    <p>
      <strong>Boost your business</strong><br />
      Create a website customized to suit your business and its customers. This theme is simple, clean, and professional. Something a small businesses can use as a starting point.
    </p>
  </div>
</div>