{{> fell/sections/head bodyClasses="home blog"}}

{{> fell/sections/header-nav}}

{{> fell/sections/site-header}}

<main class="site-main" role="main">

  <section class="content-container">
    {{{@partial-block}}}
  </section>

</main>

{{> fell/sections/footer}}