<div class="widget-areas widget-areas-footer" role="complementary">
  <div class="widget-area widget-area-footer widget-area-footer-one" role="complementary">
    {{> siggen/widgets/about}}
  </div>

  <div class="widget-area widget-area-footer widget-area-footer-two" role="complementary">
    {{> siggen/widgets/styles}}
  </div>

  <div class="widget-area widget-area-footer widget-area-footer-three" role="complementary">
    {{> siggen/widgets/themes}}
  </div>

</div>