<div class="widget widget_text">
  <h3 class="widget-title">Fell</h3>
  <div class="textwidget">
    <p>
      <strong>For those who love the outdoors</strong><br />
      Create a blog for your camping, hiking or other outdoor adventures.<br />
      This theme is stylish with a vintage feel, yet clean and features a full screen landing page.
    </p>
  </div>
</div>