<div class="widget widget_nav_menu">
  <h3 class="widget-title">Styles</h3>
  <ul>
    <li><a href="/{{themeslug}}/elements">Elements</a></li>
    <li><a href="/{{themeslug}}/media">Media</a></li>
  </ul>
</div>