<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name='robots' content='noindex, nofollow' />

    <title>{{themename}} &#8211; Demo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" type="text/css" media="all" />    
    <link rel="stylesheet" href="/{{themeslug}}/style.css" type="text/css" media="all" />
  </head>
<body class="{{bodyClasses}}"></body>
  
  <div class="site-container">