<header class="site-header">
  <div class="site-branding">
    <h1 class="site-title">
      <a href="/{{themeslug}}/">{{themename}}</a>
    </h1>

    <p class="site-tagline">Start your blog today</p>
  </div>
</header>