<div class="widget widget_text">
  <h3 class="widget-title">Ruffie</h3>
  <div class="textwidget">
    <p>
      <strong>Easily build a comic book inspired site</strong><br />
      Create a comic book blog to discuss the latest releases. This theme is a great way to showcase the most popular comics and other nerdy items.
    </p>
  </div>
</div>