<div class="widget widget_recent_entries">
  <h3 class="widget-title">Recent posts</h3>
  <ul>
    <li><a href="/{{themeslug}}/category/news/lorem-ipsum-dolor">Lorem ipsum dolor</a></li>
    <li><a href="/{{themeslug}}/category/news/nam-semper-nisi-at-neque">Nam semper nisi at neque</a></li>
    <li><a href="/{{themeslug}}/category/news/nulla-eu-ex-sed">Nulla eu ex sed</a></li>
  </ul>
</div>