<div class="widget widget_text">
  <h3 class="widget-title">Reginald</h3>
  <div class="textwidget">
    <p>
      <strong>A new level of simplicity</strong><br />
      Create a minimalistic website that is responsive and optimized for mobile.
    </p>
  </div>
</div>