<nav class="site-header-nav">
    <input type="checkbox" id="header-nav-toggle" />

    <label for="header-nav-toggle" class="header-nav-toggle-label">
      <span></span>
      <span class="screen-reader-text">Toggle menu</span>
    </label><!-- .header-nav-toggle-label -->

    <div class="header-nav-menus-container">
      <ul class="header-menu">
        <li class="menu-item"><a href="/fell/">Home</a></li>
        <li class="menu-item"><a href="/fell/category/blog">Blog</a></li>
        <li class="menu-item"><a href="/fell/about">About</a></li>
        <li class="menu-item"><a href="https://wordpress.org/themes/fell">Download</a></li>
        <li class="menu-item menu-item-has-children">
          <a href="#">Themes</a>
          <ul>
            <li><a href="/bidnis">Bidnis</a></li>
            <li><a href="/fell">Fell</a></li>
            <li><a href="/herschel">Herschel</a></li>
            <li><a href="/reginald">Reginald</a></li>
            <li><a href="/ruffie">Ruffie</a></li>
            <li><a href="/siggen">Siggen</a></li>
          </ul>
        </li>
      </ul>

      <ul class="header-social-menu social-menu">
        <li class="menu-item"><a href="https://twitter.com">Twitter</a></li>
        <li class="menu-item"><a href="https://instagram.com">Instagram</a></li>
        <li class="menu-item"><a href="https://youtube.com">YouTube</a></li>
      </ul>
    </div>
  </nav>