{{#if background}}
  <header class="site-header" style="background-image: url(/fell/assets/images/{{background}}.jpg);">
{{else}}
  <header class="site-header" style="background-image: url(/fell/assets/images/landscape.jpg);">
{{/if}}
  <div class="site-identity">
    <h1 class="site-title">
      <a href="/fell/">Fell</a>
    </h1>

    <p class="site-tagline">For those who love the outdoors</p>
  </div>
</header>