<footer class="site-footer">
  <ul class="footer-social-menu social-menu">
    <li class="menu-item"><a href="https://twitter.com">Twitter</a></li>
    <li class="menu-item"><a href="https://instagram.com">Instagram</a></li>
    <li class="menu-item"><a href="https://youtube.com">YouTube</a></li>
  </ul>
  
  <div class="site-footer-info">
    <span>Fell © 2022</span>
    <span>Theme: <a href="https://gratis-themes.com/themes/fell">Fell</a></span>
  </div><!-- .site-footer-info -->

  <a href="#" id="scroll-to-top" style="bottom: 1em;">
    <i class="fif fif-chevron"></i>
    <span class="screen-reader-text">Scroll to the top</span>
  </a>

</footer>