<div class="widget">
  <h3 class="widget-title">Themes</h3>
  <ul>
    <li><a href="/bidnis">Bidnis</a></li>
    <li><a href="/fell">Fell</a></li>
    <li><a href="/herschel">Herschel</a></li>
    <li><a href="/reginald">Reginald</a></li>
    <li><a href="/ruffie">Ruffie</a></li>
    <li><a href="/siggen">Siggen</a></li>
  </ul>
</div>