{{> siggen/sections/head bodyClasses="page"}}

{{> siggen/sections/site-header}}

{{> siggen/sections/hero}}

<main class="site-main" role="main">

  <section class="content-container">
    <article class="post {{postClasses}}">
      <header class="page-header">
        <h1 class="entry-title">{{title}}</a></h1>
      </header>

      <div class="entry-content">
        {{{@partial-block}}}
      </div>
    </article>
  </section>

</main>

{{> siggen/sections/footer}}
