{{> bidnis/sections/head bodyClasses="home page"}}

{{> bidnis/sections/header-nav}}

{{> bidnis/sections/site-header}}

{{> bidnis/sections/hero}}

{{> bidnis/sections/sidebar-above}}

<main class="site-main" role="main">

  <section class="content-container">
    {{{@partial-block}}}
  </section>

</main>

{{> bidnis/sections/footer}}