<div class="widget widget_text">
  <h3 class="widget-title">Herschel</h3>
  <div class="textwidget">
    <p>
      <strong>Start your blog today</strong><br />
      Create a blog that is easy to use and looks good at any screen size. This theme should allow your readers to focus on your content.
    </p>
  </div>
</div>